<!--
# 댓글 작성
<div class="col-md-4">
    <div class="col-md-3">
        <form>
            <textarea class="comment-control" id="comment" placeholder="댓글 작성하기" />
        </form>
        <button type="button" class="btn btn-primary" id="btn-save">등록</button>
    </div>
</div>

# 댓글 출력
<table class="table table-horizontal table-bordered">
    <thead class="thead-strong">
    <tr />
    <h3>댓글</h3>
    </thead>
    <tbody id="tbody">
    {{#comments}}
        <tr>
            <td>{{id}}</td>
            <td><a href="/posts/update/{{id}}">{{comment}}</a></td>
            <td>{{modifiedDate}}</td>
        </tr>
    {{/comments}}
    </tbody>
</table>
-->

<br/>
<div class="card">
    <div class="card-header bi bi-chat-right-dots"> Write a Comment</div>
    {{! 댓글작성 부분}}
    <form>
        <input type="hidden" id="postsId" value="{{posts.id}}">
        {{#user}}
            <div class="card-body">
                <textarea id="comment" class="form-control" rows="4" placeholder="댓글을 입력하세요"></textarea>
            </div>
            <div class="card-footer">
                <button type="button" id="btn-comment-save"class="btn btn-outline-primary bi bi-pencil-square"> 등록</button>
            </div>
        {{/user}}
        {{^user}}
            <div class="card-body" style="font-size: small"><a href="/auth/login">로그인</a>을 하시면 댓글을 등록할 수 있습니다.</div>
        {{/user}}
    </form>
</div>
<div class="card">
    <div class="card-header bi bi-chat-dots"> {{#comments.size}}{{comments.size}}{{/comments.size}} Comments</div>
    {{! 댓글내용 부분 }}
    <ul class="list-group-flush">
        {{#comments}}
            <li class="list-group-item">
                <span>
                    <span style="font-size: small">{{author}}</span>
                    <span style="font-size: xx-small">{{createdDate}}</span>&nbsp;
                    {{!<button class="badge bi bi-pencil-square"> 수정</button>}}
                    <button class="badge bi bi-trash"> 삭제</button>
                </span>
                <div>{{comment}}</div>
            </li>
        {{/comments}}
    </ul>
</div>

<section class="card">
    <div class="card bg-light">
        <div class="card-body">
            <!-- Comment form-->
            <form class="mb-4">
                <textarea class="form-control" rows="3" placeholder="댓글 작성하기" />
            </form>
            <button type="button" class="btn btn-primary" id="btn-save">등록</button>
            <!-- comment-->
            </div>
            {{#comments}}
                <div class="d-flex">
                    <div class="ms-3">
                        <div class="fw-bold">{{modifiedDate}}</div>
                        <a href="/posts/update/{{id}}">{{comment}}</a>
                    </div>
                </div>
            {{/comments}}
        </div>
    </div>
</section>